%h1 Let's Create a New student (Eventually)

%p.greeting= "Hello, #{current_user.name}!"

%h2 student Info
%ul
  %li
    %b Name
    = @student.name
  %li
    %b Email
    = @student.email
  %li
    %b Username
    = @student.nickname

%h2= link_to 'Log Out', logout_url
