<%= form_with(model: reflection, local: true) do |form| %>
  <% if reflection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reflection.errors.count, "error") %> prohibited this reflection from being saved:</h2>

      <ul>
      <% reflection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :week %>
    <%= form.number_field :week %>
  </div>

  <div class="field">
    <%= form.label :reaction %>
    <%= form.text_area :reaction %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
