<p id="notice"><%= notice %></p>

<h1>Reflections</h1>

<table>
  <thead>
    <tr>
      <th>Week</th>
      <th>Reaction</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reflections.each do |reflection| %>
      <tr>
        <td><%= reflection.week %></td>
        <td><%= reflection.reaction %></td>
        <td><%= reflection.title %></td>
        <td><%= link_to 'Show', reflection %></td>
        <td><%= link_to 'Edit', edit_reflection_path(reflection) %></td>
        <td><%= link_to 'Destroy', reflection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reflection', new_reflection_path %>
