

%header
  %h2 Latest reflections
  %p= link_to 'New Reflection', new_reflection_path

%ul.reflections
  - @reflections.each do |reflection|
    %li
      %article
        %h3= link_to reflection.title, reflection
        %p.byline= reflection.student.name
        = reflection.reaction
        = reflection.week
        %ul.controls
          %li= link_to 'Edit', edit_reflection_path(reflection)
          %li= link_to 'Destroy', reflection, method: :delete, data: { confirm: 'Are you sure?' }
