%p#notice= notice
%h1 Reflections
%table
  %thead
    %tr
      %th{:colspan => "3"}
  %tbody
    - @reflections.each do |reflection|
      %tr
        %td= link_to 'Show', reflection
        %td= link_to 'Edit', edit_reflection_path(reflection)
        %td= link_to 'Destroy', reflection, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Reflection', new_reflection_path
