%p#notice= notice

%article
  %h3= @reflection.title
  %p.byline= @reflection.student_name
  = @reflection.reaction
  = @reflection.week
  %ul.controls
    %li= link_to 'Edit', edit_reflection_path(@reflection)
    %li= link_to 'Destroy', @reflection, method: :delete, data: { confirm: 'Are you sure?' }

%footer
  = link_to 'Back', reflections_path
